/************** HEADER **************/
.header {
  margin: 4rem 0;
  text-align: center;
}

.header-title {
  margin-bottom: var(--spacing-00);
  color: var(--text);
  font-size: var(--scale-5);
  font-family: var(--font-family-sans);
  text-transform: uppercase;
}

.header-subtitle {
  color: var(--text);
  font-size: var(--scale-2);
  font-family: var(--font-family-sans);
  text-transform: capitalize;
}
