section.infos.animate.fadeInUp
  ul.infos-list
    li.infos-element avoid icon/logo with text that couldn't fits in a square
    li.infos-element avoid multicolor SVG
    li.infos-element avoid too complex paths
    li.infos-element or just try and see the result
