/************** MYRTILLE **************/
.myrtille {
  display: none;
  flex-direction: column;
  width: 700px;
  margin: 0 auto var(--spacing-3);
  border-right: 10px solid var(--text);
  border-bottom: 10px solid var(--text);
  border-left: 10px solid var(--text);
}

.myrtille-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  background-color: var(--text);
}

.myrtille-title {
  color: var(--main);
  font-weight: (--font-weight-bold);
  font-size: var(--scale-3);
  text-align: center;
}

.myrtille-area {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-2);
}

.myrtille-string {
  color: var(--text);
}
