/************** UPLOAD SECTION **************/
.upload {
  display: flex;
  flex-direction: column;
  width: 700px;
  min-height: 250px;
  margin: 0 auto var(--spacing-3);
  border-right: 10px solid var(--text);
  border-bottom: 10px solid var(--text);
  border-left: 10px solid var(--text);
}

.upload-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  background-color: var(--text);
}

.upload-title {
  color: var(--main);
  font-weight: (--font-weight-bold);
  font-size: var(--scale-3);
  text-align: center;
}

.upload-area {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-0);
}

.upload-file-name.hidden,
.upload-warning.hidden {
  display: none;
}

.upload-file-name.displayed {
  display: block;
  color: var(--text);
  font-size: var(--scale-1);
}

.upload-input {
  position: absolute;
  z-index: -1;
  width: 0.1px;
  height: 0.1px;
  overflow: hidden;
  opacity: 0;
}

.upload-input:hover {
  cursor: pointer;
}

.upload-label {
  transition: transform 0.2s ease-in-out;
}

.upload-label:hover {
  transform: scale(1.2, 1.2);
  cursor: pointer;
}

.upload-icon {
  position: relative;
}

.upload-warning.displayed {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--spacing-0);
  animation-name: fadeInDown;
  animation-duration: 1s;
}

.upload-warning--text {
  color: tomato;
  font-size: var(--scale-1);
}
