doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(name='robots', content='noindex')
  link(href='styles.css', rel='stylesheet', type='text/css')
  link(rel='shortcut icon', href='../assets/icons/logo/logo.svg')
  script(type='module', src='app.js')
  title Myrtille Builder

include header/header
include infos/infos
include upload/upload
include myrtille/myrtille
include actions/actions
