/******* IMPORTS *******/
@import './header/header.css';
@import './infos/infos.css';
@import './upload/upload.css';
@import './actions/actions.css';
@import './myrtille/myrtille.css';

/******* RESET *******/

html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

button,
input,
select,
textarea {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/************** FONTS **************/

@font-face {
  font-family: ubuntu-regular;
  src: local('ubuntu'), url('../assets/fonts/Ubuntu-Regular.woff') format('woff');
}

/************** VARIABLES **************/

:root {
  /* colors */
  --main: hsl(220, 21%, 17%);
  --text: white;
  --module-background: hsl(31, 77%, 60%);
  --search-background: hsl(4, 100%, 74%);
  --pomme-background: hsl(118, 18%, 66%);
  --myrtille-background: hsl(235, 17%, 63%);

  /* font-family */
  --font-family-sans: ubuntu, 'Helvetica Neue', system-ui, -apple-system, blinkmacsystemfont, 'Segoe UI', roboto, sans-serif;

  /* font weights */
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  /* font Modular scale */
  --scale-000: 0.75rem; /* 12px */
  --scale-00: 0.875rem; /* 14px */
  --scale-0: 1rem; /* 16px */
  --scale-1: 1.125rem; /* 18px */
  --scale-2: 1.25rem; /* 20px */
  --scale-3: 1.5rem; /* 24px */
  --scale-4: 1.875rem; /* 30px */
  --scale-5: 2.25rem; /* 36px */

  /* sizing property -> margin, padding, height */
  --spacing-0000: 4px;
  --spacing-000: 8px;
  --spacing-00: 12px;
  --spacing-0: 16px;
  --spacing-1: 20px;
  --spacing-2: 32px;
  --spacing-3: 48px;
  --spacing-4: 64px;
  --spacing-5: 96px;

  /* Widths applied as max-width */
  --width-00: 120px;

  /* Grid gaps */
  --gap-00: 12px;
  --gap-0: 16px;
  --gap-1: 24px;
}

/************** GLOBAL STYLES **************/

html {
  background-color: var(--main);
}

body {
  padding: var(--spacing-4);
  font-family: var(--font-family-sans);
}

/************** ANIMATIONS *****************/
.animate {
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

.animate-fast {
  animation-duration: 100ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

@keyframes fadeInUp {
  from {
    transform: translateY(40px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}

@keyframes fadeInDown {
  from {
    transform: translateY(-40px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.fadeInDown {
  animation-name: fadeInDown;
}

@keyframes dropZoom {
  from {
    transform: scale(1, 1);
  }

  to {
    transform: scale(1.4, 1.4);
  }
}

.dropZoom {
  animation-name: dropZoom;
}
